@import "styles/abstracts/mixins";

.container {
	background: var(--colour__secondary);
	padding-top: 8rem;
	padding-bottom: 4rem;
}
.header {
	order: 1;
	grid-column: grid-start / grid-end;
	@include responsive($tablet-p) {
		grid-column: span 3 / grid-end;
		order: 3;
		position: sticky;
		top: 100px;
		align-self: start;
	}
}

.navigation {
	position: sticky;
	top: 100px;
	align-self: start;
	grid-column: grid-start / grid-end;
	@include responsive($tablet-p) {
		grid-column: col-3 / grid-start;
	}
}

.body {
	order: 2;
	grid-column: grid-start / grid-end;
	@include responsive($tablet-p) {
		grid-column: col-3 / span 7;
	}

	.heading {
		margin-bottom: var(--leading);
	}

	.section {
		margin: 4rem 0;
	}
}
