@import "styles/abstracts/mixins";

.container {
	background: var(--colour__secondary);
	grid-template-rows: min-content 1fr;
	@include responsive($tablet-l) {
		padding-top: 3rem;
	}
}

.nav {
	align-self: start;
	position: sticky;
	top: 64px;
	z-index: 10;
	@include responsive($tablet-l) {
		top: 100px;
		height: 0;
		z-index: 2;
	}
}

.section {
	margin: 4rem 0;
}

.heading {
	margin-bottom: var(--leading);
}

.info {
	dd {
		margin-bottom: 1rem;
	}
}

.link {
	border-bottom: 1px solid;
	&:after {
		content: " ↗";
	}
	@include on-event {
		text-decoration: none;
		color: var(--colour__accent);
	}
}

.downloads {
	margin-top: 2rem;
}
