@import "styles/abstracts/mixins";

.section {
	width: 100%;
	background: black;
	min-height: 80vh;
	position: relative;
	.textBlock {
		padding: 2rem 0;
		z-index: 1;
		grid-row: 1;
		grid-column: grid-start / grid-end;
		@include responsive($tablet-l) {
			grid-column: grid-start / col-7;
		}
		color: var(--colour__bg);

		.heading {
			margin-bottom: 1rem;
		}
	}

	.background {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0.75;
		z-index: 0;
		grid-row: 1;
		grid-column: screen-start / screen-end;
	}
}
