@import "styles/abstracts/mixins";

.list {
	background: var(--colour__secondary);
	display: flex;
	overflow: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	&::-webkit-scrollbar {
		display: none;
	}
	max-width: 100vw;
	align-items: center;
	justify-content: center;
	@include responsive($tablet-l) {
		align-items: flex-start;
		border-top: 1px solid rgba(0, 0, 0, 0.5);
		background: transparent;
		padding-top: 0.5rem;
		margin-top: 2rem;
		flex-direction: column;
	}
	transition: opacity 0.3s ease-out;
	&.hidden {
		@include responsive($tablet-l) {
			opacity: 0;
		}
	}
	.item {
		-webkit-appearance: none;
		background: transparent;
		border: none;
		position: relative;
		transition: transform 0.6s var(--easing), opacity 0.3s ease-out;
		opacity: 0.5;
		display: inline-block;
		text-align: left;
		padding: 0.618em 1.2em;
		flex: 1 1 0;
		white-space: nowrap;

		@include responsive($tablet-l) {
			white-space: initial;
			transform: translateX(-1.2em);
			&:before {
				content: "";
				height: 1px;
				width: 0;
				position: absolute;
				top: 51%;
				left: 1.2rem;
				background: currentColor;
				transition: width 0.6s var(--easing), left 0.6s var(--easing);
			}
		}

		&:hover {
			opacity: 1;
		}

		&.active {
			transform: none;
			opacity: 1;
			background: var(--colour__main);
			color: var(--colour__bg);
			@include responsive($tablet-l) {
				color: inherit;
				background: initial;
				&:before {
					left: 0;
					width: 0.8rem;
				}
			}
		}
	}
}
