@import "styles/abstracts/mixins";

.item {
	.task {
		font-weight: normal;
		color: var(--colour__main--faded);
		opacity: 0.8;
	}
	.doers {
		li {
			display: inline-block;
			line-height: 1.4;
			&:not(:last-child):after {
				content: ", ";
				margin-right: 0.2em;
			}
		}
		a {
			white-space: nowrap;
			border-bottom: 1px solid;
			&:hover {
				color: var(--colour__accent);
				text-decoration: none;
			}
		}
	}
}
