@import "styles/abstracts/mixins";

.section {
	background: var(--colour__bg);
}

.slide {
	height: 80vh;
	&:nth-child(1) {
		grid-column: screen-start / col-7;
		@include responsive($tablet-p) {
			grid-column: screen-start / grid-start;
		}
	}
	&:nth-child(2) {
		grid-row: 1;
		grid-column: screen-start / screen-end;
		@include responsive($tablet-p) {
			grid-column: grid-start / grid-end;
		}
	}
	&:nth-child(3) {
		grid-column: screen-end / col-7;
		@include responsive($tablet-p) {
			grid-column: screen-end / grid-end;
		}
	}

	&.interactive {
		grid-row: 1;
		z-index: 2;
		opacity: 0;
		@include responsive($tablet-p) {
			opacity: 0.5;
		}
		height: 100%;
		& > * {
			height: 100%;
			width: 100%;
			position: relative;
		}
		@include on-event {
			@include responsive($tablet-p) {
				opacity: 1;
			}
		}
	}
}

.slideNo {
	margin-top: 0.5rem;
	grid-column: grid-start / grid-end;
	text-align: right;
}
