@import "styles/abstracts/mixins";

.section {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.slide {
	&:nth-child(2) {
		grid-column: grid-start / grid-end;
	}

	&.interactive {
		opacity: 0.5;
		height: 100%;
		& > * {
			height: 100%;
			width: 100%;
			position: relative;
		}
		@include on-event {
			opacity: 1;
		}
	}
}

.slideNo {
	margin-top: 0.5rem;
	grid-column: grid-start / grid-end;
	text-align: right;
}
