@import "styles/abstracts/mixins";

.link {
	&:hover {
		text-decoration: none;
	}
}
.title {
	font-weight: bold;
}
.lead {
	opacity: 0.5;
	line-height: 1.4;
	max-height: calc(1.4 * 1em * 2);
	@include responsive($tablet-p) {
		height: calc(1.4 * 1em * 2);
	}
	overflow-y: hidden;
	text-overflow: ellipsis;
	line-clamp: 2;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.format {
	vertical-align: top;
	font-size: 0.7rem;
	display: inline-block;
	border: 1.5px solid;
	padding: 0px 0.4em 0.1em;
	border-radius: 8px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.1);
}
