.card {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;

	.info {
		margin: 0.7rem 0 1rem;
		flex-grow: 1;
	}

	.image {
		filter: grayscale(100%);
		transition: filter 0.6s ease-out;
	}

	.more {
		width: 2rem;
		height: 2rem;
	}

	.position {
		opacity: 0.5;
	}

	&:hover {
		text-decoration: none;
		.image {
			filter: grayscale(30%);
		}
		.more {
			color: var(--colour__accent);
		}
	}
}
