@import "styles/abstracts/mixins";

.container {
	display: flex;
	align-items: center;
}

.button {
	padding: 4px 8px;
	border: none;
	-webkit-appearance: none;
	background: transparent;
	opacity: 0.5;
	&:hover {
		opacity: 1;
	}
}

.box {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.8);
	margin-right: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(1rem + 2vw);

	.button {
		color: white;
		svg {
			height: 1em;
			width: 1em;
		}
	}

	.inputContainer {
		position: relative;
		color: white;
	}

	.input {
		max-width: 100%;
		border: none;
		border-radius: 4px;
		padding: 4px 8px;
		background: transparent;
		color: white;

		&:focus {
			outline: none;
		}
	}

	.suggestions {
		font-size: 1rem;
		width: 100%;
		position: absolute;
		max-height: 40vh;
		overflow-y: scroll;
		bottom: 100%;
		@include responsive($desktop) {
			bottom: auto;
			top: 100%;
		}
		left: 0;
		z-index: 100;
		.resultCount {
			text-align: center;
			user-select: none;
			pointer-events: none;
			opacity: 0.5;
			padding: 4px 8px;
		}
		a {
			display: block;
			padding: 0.3em;
			&:hover {
				text-decoration: none;
				background: var(--colour__secondary);
			}
		}
	}
}
