@import "styles/abstracts/mixins";

.grid {
	min-height: 80vh;
	background: black;
}

.sinopse {
	margin: 2rem 0;
	align-self: center;
	color: var(--colour__bg);
	.text {
		margin-top: 1rem;
		p {
			color: var(--colour__bg);
			opacity: 0.8;
		}
	}
}

.title {
	margin-bottom: 8px;
}

.year {
	font-size: 0.6em;
	vertical-align: top;
}

.cover {
	opacity: 0.6;
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: relative;
	align-self: center;
	.video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.trailer {
	-webkit-appearance: none;
	border: none;
	background: transparent;
	padding: 0;
	display: flex;
	align-items: center;
	svg {
		margin-right: 0.5em;
		height: 1.2em;
		width: 1.2em;
	}
	&:hover {
		color: var(--colour__accent);
	}
}
