@import "styles/abstracts/mixins";

.sinopse {
	margin: 2rem 0;
	align-self: center;
	// color: var(--colour__bg);
	.text {
		margin-top: 1rem;
		p {
			// color: var(--colour__bg);
			opacity: 0.8;
		}
	}
}

.title {
	margin-bottom: 8px;
}

.year {
	font-size: 0.6em;
	vertical-align: top;
}

.cover {
	background: black;
	align-self: center;
}
