.section {
	background: var(--colour__secondary);
	padding-top: 2rem;
	padding-bottom: 2rem;

	.prizes,
	.heading {
		grid-column: col-4 / grid-end;
	}
	.heading {
		margin-bottom: 2rem;
	}
	.prizes {
		display: grid;
		grid-gap: var(--gutter);
		grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr));
	}
}
