@import "styles/abstracts/mixins";

.section {
	.prizes,
	.heading {
		grid-column: grid-start / grid-end;
		@include responsive($tablet-l) {
			grid-column: col-4 / grid-end;
		}
	}
	.heading {
		margin-bottom: 2rem;
	}
	.showMore {
		grid-column: grid-start / grid-end;
		@include responsive($tablet-l) {
			grid-column: col-4 / grid-end;
		}
		display: flex;
		justify-content: center;
		margin-top: 1rem;
	}
}

.showing {
	grid-column: grid-start / grid-end;
	@include responsive($tablet-l) {
		grid-column: col-4 / grid-end;
	}
	user-select: none;
	opacity: 0.5;
	margin-top: 1rem;
	text-align: center;
}
