@import "styles/abstracts/mixins";

.module {
	border: 1px solid var(--colour__secondary);
	padding: 8px;
	margin-bottom: 2rem;
	.type {
		opacity: 0.5;
	}
	.title {
		margin-bottom: 0.5rem;
		hanging-punctuation: first;
	}
	.lead {
		opacity: 0.5;
		line-height: 1.4;
		max-height: calc(1.4 * 1em * 5);
		overflow-y: hidden;
		text-overflow: ellipsis;
		line-clamp: 3;
		display: -webkit-box;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;
	}
	.footer {
		margin-top: 1rem;
	}

	@include on-event {
		text-decoration: none;

		.title {
			color: var(--colour__accent);
		}
	}
}
